<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<% if @articles.any? %>
  <ul>
    <% @articles.each do |article| %>
      <% next if article.archived? %>

      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No articles to display here. :(</p>
<% end %>

<%= link_to 'New Article', new_article_path %>
